@media (max-width: $mobile-width) {
  .hide-sm {
    display: none;
  }

  // Text Styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .medium {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1rem;
  }

  // Navbar
  .navbar {
    .nav-content {
      display: block;
      text-align: center;
    }
  }

  ul {
    text-align: center;
    justify-content: center;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .home-page {
    .title-image {
      position: static;
      transform: rotate(0);
      width: 60%;
    }

    .learn-more-button {
      // display: block;
      width: 100%;
      margin-bottom: 0.2rem;
    }
  }

  // About page
  .about-page {
    img {
      width: 75%;
    }

    .about-img-container {
      margin-bottom: 1rem;
    }

    .dark-title {
      grid-row-start: 1;
      grid-row-end: 1;
    }

    .dark-description {
      grid-row-start: 3;
      grid-row-end: 3;
    }
  }

  // Blog landing page
  .blog-landing-page {
    img {
      grid-row-start: 2;
      grid-row-end: 2;
      padding: 0.75rem;
      max-width: 200px;
    }

    .blog-header-container {
      grid-row-start: 1;
      grid-row-end: 1;
    }

    .blog-preview {
      grid-row-start: 3;
      grid-row-end: 3;
    }
  }

  .blog-post-page {
    text-align: center;

    h1 {
      margin-bottom: 0.25rem;
    }

    .lead {
      text-align: center;
      margin-bottom: 0.25rem;
    }

    img {
      padding: 1rem 0;
      max-width: 250px;
      float: none;
      width: 80%;
    }
  }

  // Resume page
  .resume-page {
    .resume-list-item {
      text-align: left;
    }
  }

  // Project landing
  .project-landing-page {
    .project-card {
      .project-card-img-container {
        display: auto;
        position: auto;
      }

      .img-spacer {
        margin-top: auto;
      }

      img {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        border-radius: 5px;
      }

      .project-card-description-container {
        height: auto;
        margin-top: 0.5rem;
      }

      .selected-tag-filter-container {
        margin-top: 0.5rem;
      }
    }
  }

  // Personal website description page
  .personal-website-description {
    text-align: center;

    .header-section {
      padding-bottom: 1rem;

      h1 {
        grid-row: 1 / span 1;
        grid-column: 1 / span 12;
        margin: 0.5rem 0;
      }
      a {
        grid-row: 2 / span 1;
        grid-column: 1 / span 12;
        margin: 0.5rem 0;
      }

      p {
        grid-row: 3 / span 1;
        grid-column: 1 / span 12;
        margin: 0.5rem 0;
      }
    }

    .skills-section {
      i {
        font-size: 1.75rem;
        margin-right: 0.25rem;
      }
    }

    .evolution-section {
      .evolution-subsection-header {
        text-align: center;
      }

      .timeline {
        margin-right: 0;
      }
    }
  }

  // Sudoku page
  .sudoku {
    table {
      border-spacing: 0;
    }

    .sudoku-table {
      width: calc(min(80vw, 70vh));
      height: calc(min(80vw, 70vh));
      font-size: $sudoku-cell-font-mobile;
      line-height: 0;
      // font-size: calc(10 * $sudoku-cell-font);
    }
    .bottom-number-div {
      width: 100%;
      margin-top: 0.5rem;
    }

    // .sudoku-cell {
    //   table {
    //     border-spacing: 0;
    //   }
    // }

    .sudoku-pencil {
      font-size: $pencil-font-size-mobile;
      line-height: 0;

      // height: auto;
    }
  }
}
