@import 'config';
@import 'utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  grid-column: auto/span 12;
}

body {
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // padding: 0.7rem 2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  //   opacity: 0.9;

  .nav-content {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    align-items: center;

    max-width: $max-width;
    margin: auto;

    ul {
      display: flex;
    }

    a {
      color: #fff;
      padding: 0.45rem;
      margin: 0 0.25rem;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

// Footer
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  text-align: center;
  border-top: solid 1px $primary-color;
  padding: auto;

  .social-icon {
    margin: 20px 10px 5px;
    color: $primary-color;
  }

  .social-icon:hover {
    color: $light-color;
  }
}

// Home page
.home-page {
  text-align: center;
  padding: 6rem 0;

  .title-image {
    border-radius: 5px;
    transform: rotate(15deg);
    width: 35%;
    position: absolute;
    right: 10%;
  }

  .image-cover {
    position: relative;
    z-index: 1;
  }

  .icon {
    color: $primary-color;
    margin-bottom: 1rem;
  }

  .icon:hover {
    color: $light-color;
  }

  .skill-box {
    padding: 5%;
    color: $primary-color;
    color: $light-color;
  }

  .skill-title {
    font-weight: bold;
  }

  .skill-description {
    color: #fff;
  }

  .learn-more-button {
    margin-top: 2.5%;
    width: 80%;
  }
}

// About page
.about-page {
  text-align: center;

  .about-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 75%;
    border-radius: 5px;
  }

  p {
    margin: auto;
    text-align: justify;
  }

  // .section-light {
  //   h1 {
  //     text-align: left;
  //   }
  // }
  // .section-dark {
  //   h1 {
  //     text-align: right;
  //   }
  // }
}

// Blog landing page
.blog-landing-page {
  .post-preview {
    padding: 1rem;
    text-align: left;
    margin: 1rem 0;

    img {
      width: 85%;
      margin: auto;
    }

    .blog-header-container {
      margin: auto;
      padding: 0 1rem;

      .blog-group-header {
        margin-bottom: 0;
      }
    }

    .blog-preview {
      margin: auto;
      padding: 0 1rem;
      line-height: 1.3rem;
    }
  }
}

// Blog post page
.blog-post-page {
  img {
    padding: 0 2rem 2rem 0;
    float: left;
    width: 40%;
  }

  .instagram-embed {
    float: left;
    margin-right: 10px;
    width: 40%;
    border: 1px solid $dark-color;
    border-radius: 5px;
  }

  p {
    // padding: 2rem 0;
    text-align: justify;
    white-space: pre-wrap;
  }

  // iframe {
  //   height: none !important;
  // }
}

// Resume page
.resume-page {
  .business-resume {
    font-family: 'Tinos', serif;

    .resume-container {
      padding: 3% 5%;
    }
  }

  .technical-resume {
    $tr-name-font: 2rem;
    $tr-title-font: calc($tr-name-font * 2 / 3);
    $tr-text-font: calc($tr-name-font * 5 / 12);
    $tr-padding: 15px;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;

    .tr-box {
      padding: $tr-padding;
    }

    .tr-name {
      grid-column: 1;
      grid-row: 1;
    }

    .tr-other {
      grid-column: 1;
      grid-row: 2;
    }

    .tr-experience {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    // .tr-left {
    //   display: grid;
    //   grid-template-rows: auto 1fr;
    //   grid-gap: 0px;
    // }

    // .tr-right {
    //   display: grid;
    //   grid-template-rows: auto;
    //   grid-gap: 0px;
    // }

    .tr-other {
      border: none;
      padding: $tr-padding $tr-padding 0px $tr-padding;

      .tr-other-box {
        padding: 0px 0px $tr-padding 0px;
      }
    }

    .tr-eop {
      padding: $tr-padding $tr-padding 0px $tr-padding;
      .tr-eop-box {
        padding: 0px 0px $tr-padding 0px;
      }
    }

    .tr-name-box {
      .tr-name {
        color: $primary-color;
        font-size: $tr-name-font;
        font-weight: bold;
      }

      p,
      a {
        color: $white-color;
        display: inline-block;
      }

      span {
        color: $light-color;
      }

      li {
        margin-bottom: 5px;
      }

      // span {
      //   color:
      // }
    }

    .tr-other {
      a {
        color: $dark-color;
        display: block;
        vertical-align: top;
      }

      // li {
      //   vertical-align: top;
      //   // list-style-type: none;
      // }
    }

    .tr-title {
      color: $primary-color;
      font-size: $tr-title-font;
      font-weight: bold;
    }

    p,
    li,
    a,
    .icon {
      font-size: $tr-text-font;
    }

    ul {
      padding-left: 16px;

      ul {
        list-style-type: circle;
        font-weight: normal;
      }
    }

    .icon-list {
      padding-left: 0;
      list-style: none;

      span {
        padding: 0 4px;
        width: $tr-name-font;
        text-align: center;
      }
    }
  }

  ul {
    padding-left: 2rem;
    list-style: disc;
  }

  .resume-line {
    margin: 8px 0;
  }

  .resume-lr {
    display: flex;
    justify-content: space-between;
  }

  .resume-lr-l {
    text-align: left;
    /* display: inline-block; */
    /* position: absolute;
    right: 0; */
  }

  .resume-lr-r {
    text-align: right;
    /* display: inline-block; */
    /* position: absolute;
    right: 0; */
  }

  /* Text Classes */
  .resume-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 4px;
  }

  .resume-subtitle {
    font-size: 1.5rem;
    /* font-weight: bold; */
    margin-bottom: 4px;
  }

  .resume-text {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .resume-text.remove-link-style {
    display: block;
  }

  .resume-list-item {
    font-size: 1rem;
    margin-bottom: 4px;
    overflow-wrap: break-word;
  }

  .remove-link-style {
    color: black;
    text-decoration: none;
  }

  .resume-bold {
    font-weight: bold;
  }

  .resume-italic {
    font-style: italic;
  }

  .resume-underline {
    text-decoration: underline;
  }

  /* Section Styling */
  .resume-container {
    border: solid black 1px;
    text-align: left;
  }

  .resume-section {
    margin-bottom: 16px;
  }

  .resume-header {
    text-align: center;
    line-height: 0.75;
  }

  /* Other Resume */
  .download-resume {
    margin: 16px 0;
  }

  .switch-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }

  .switch-container {
    border: 1px solid $dark-color;
    width: 33.33%;
    display: flex;
  }

  .resume-switch {
    margin: 0px;
    width: 50%;
    text-align: center;
    padding: 5px 0px;
  }

  .resume-switch:hover {
    background-color: $light-color;
    color: $dark-color;
  }

  .selected-resume {
    background-color: $primary-color;
    color: $white-color;
  }

  .br-switch {
    font-family: 'Tinos', serif;
  }

  .tr-switch {
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
  }
}

// Project landing page
.project-landing-page {
  .portfolio-links {
    .portfolio-links-card {
      padding: 0.25rem 0.5rem 0.5rem;
      text-align: left;
      @include set-background($dark-color);
      &:hover {
        background: lighten($dark-color, 5%);
        i {
          color: lighten($light-color, 15%);
        }
      }
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      border-radius: 5px;
      padding: 0.9rem;
      // margin-bottom: 0.5rem;
    }

    .portfolio-links-title-container {
      display: flex;
      justify-content: left;
      text-align: left;
      align-items: center;
      // margin: auto;
      // padding: 0.5rem 0;
    }

    i {
      font-size: 2.5rem;
      color: $light-color;
      margin-right: 0.5rem;
    }

    .portfolio-links-title {
      margin: 0;
    }

    p {
      margin: 0.25rem 0 0 0;
    }
  }

  .tag-filter-drowpdown {
    text-align: left;
    width: 100%;
  }

  .tag-filter {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 5px;
  }

  .dropdown-content {
    border-radius: 5px;
  }

  // .selected-filter-option {
  //   background
  // }

  .selected-tag-filters {
    text-align: left;
    //   font-size: 0.1rem;
    //   border-radius: 40px;
  }

  .selected-tag-filter {
    font-size: 0.5rem;
    border-radius: 40px;
    border: none;
    width: auto;
    padding: 0.25rem 0.5rem;
  }

  .delete-tag-filter {
    &:hover {
      color: $dark-color;
    }
  }

  // .project-card-container {
  //   margin: 0.5rem 0;
  // }

  .section-dark {
    .project-card {
      @include set-background($white-color);
      &:hover {
        background: lighten($white-color, 5%);
      }
      box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    }

    .project-card-title {
      color: $primary-color;
    }

    .project-card-date {
      color: $primary-color;
    }

    .project-card-description {
      color: $dark-color;
    }
  }

  .section-light {
    .project-card {
      @include set-background($dark-color);
      &:hover {
        background: lighten($dark-color, 5%);
      }
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .project-card-title {
      color: $white-color;
    }

    .project-card-date {
      color: $white-color;
    }

    .project-card-description {
      color: $light-color;
    }
  }

  .project-card {
    // margin: 0.5rem;
    padding: 0.25rem 0.5rem 0.5rem;
    text-align: center;

    // border: solid 1px $dark-color;
    border-radius: 5px;

    .project-card-title {
      // height: 3rem;
      word-wrap: break-word;
      margin: 0.5rem 0 1rem;
      // height: 20%;
    }

    .project-card-img-container {
      display: inline-block;
      position: relative;
      width: 70%;
      // background: $white-color;
      border-radius: 5px;
    }

    .img-spacer {
      margin-top: 100%;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 5px;
      margin: auto;
    }

    .project-card-date {
      margin: 0.5rem 0;
    }

    .project-card-description-container {
      height: 3rem;
      display: flex;
      align-items: center;
    }

    .project-card-description {
      margin: auto;
    }

    .selected-tag-filter-container {
      text-align: center;
      margin-bottom: 0.5rem;
      // height: 20%;
    }
  }
}

// Personal website description
.personal-website-description {
  .header-section {
    h1,
    p {
      grid-column: 1 / span 9;
      margin-right: 1rem;
    }

    h1 {
      grid-row: 1 / span 1;
    }

    p {
      grid-row: 2 / span 1;
    }

    a {
      width: 100%;
      grid-row: 1 / span 2;
      grid-column: 10 / span 3;
      height: 100%;
    }

    img {
      border-radius: 5px;
    }

    div {
      text-align: left;
      margin: 0 2rem;
    }
  }

  // .skill-card-container {
  //   margin: 0.5rem 0;
  // }

  .skill-card {
    // margin: 0.5rem;
    padding: 0.25rem 0.5rem 0.5rem;
    text-align: center;
    // height: 300px;
    @include set-background($primary-color);
    &:hover {
      background: darken($primary-color, 5%);
    }
    // box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);

    // border: solid 1px $dark-color;
    border-radius: 5px;

    .skill-title-container {
      margin: auto;
      padding-top: 0.5rem;
    }

    i {
      font-size: 1.25rem;
      color: $light-color;
      display: inline-flex;
      margin-right: 0.125rem;
    }

    .skill-card-title {
      word-wrap: break-word;
      display: inline-flex;
      margin: 0;
    }

    // .skill-card-description {
    //   height: 3rem;
    // }

    ul {
      text-align: left;
    }

    li {
      padding: 0.5rem;
    }
  }

  .evolution-section {
    .learning-container,
    .timeline-container {
      padding: 1rem;
    }

    .evolution-subsection-header {
      text-align: left;
    }

    .learning-container {
      .udemy-card-container {
        margin: 1.5rem 0;
      }

      .udemy-card {
        @include set-background($dark-color);
        &:hover {
          background: lighten($dark-color, 5%);
        }
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 0.5rem;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        counter-reset: div;

        img {
          width: 100%;
          margin: auto;
          grid-row: 1 / span 2;
          grid-column: 1 / span 4;
        }

        h1,
        h2 {
          grid-column: 5 / span 8;
          padding-left: 0.5rem;
        }

        h1 {
          grid-row: 1 / span 1;
        }

        h2 {
          grid-row: 2 / span 1;
        }

        // h1 {
        //   font-size: 1rem;
        // }

        h2 {
          // font-size: 0.25rem;
          color: $light-color;
        }
      }
    }

    .timeline-container {
      text-align: center;

      $background: #252827;

      $spacing: 1.5rem;
      $date: 7.5rem;
      $dotborder: 0.25rem;
      $dot: 0.6875rem;
      $line: 0.25rem;

      .timeline {
        border-left: $line solid $primary-color;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background: fade($white-color, 3%);
        color: fade(white, 80%);
        margin: $spacing;
        letter-spacing: 0.5px;
        position: relative;
        line-height: 1.4em;
        padding: $spacing $spacing 0.5 * $spacing $spacing;
        list-style: none;
        text-align: left;
        max-width: 90%;
        margin-left: 30%;

        h1 {
          letter-spacing: 1.5px;
        }

        h2,
        h3 {
          letter-spacing: 1.5px;
        }

        .event {
          border-bottom: 1px dashed fade($white-color, 10%);
          padding-bottom: 0.5rem;
          margin-bottom: 0.5rem;
          position: relative;

          &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
          }

          &:before,
          &:after {
            position: absolute;
            display: block;
            top: 0;
          }

          &:before {
            left: (
                (($date * 0.6) + $spacing + $line + $dot + ($dotborder * 2)) *
                  1.5
              ) * -1;
            color: fade($white-color, 40%);
            content: attr(data-date);
            text-align: right;
            min-width: $date;
          }

          &:after {
            box-shadow: 0 0 0 $dotborder fade($primary-color, 5%);
            left: ($spacing + $line + ($dot * 0.31)) * -1;
            background: lighten($primary-color, 5%);
            border-radius: 50%;
            height: $dot;
            width: $dot;
            content: '';
            top: 5px;
          }
        }
      }
    }
  }
}

// CSS Rainbow Spiral
.rs {
  &-rsstart {
    height: 100%;
    width: 100%;
    background-color: red;
    // border-radius: 50% 0 0 0;
  }
  &-ws-1 {
    float: right;
    height: 100%;
    width: 38.1966011250105%;
    /* border-radius: 0 50% 0 0; */
  }

  &-hs-1 {
    height: 38.1966011250105%;
    position: relative;
    top: 61.8033988749895%;
    width: 100%;
    /* border-radius: 0 0 50% 0; */
  }

  &-ws-2 {
    float: left;
    height: 100%;
    width: 38.1966011250105%;
    /* border-radius: 0 0 0 50%; */
  }

  &-hs-2 {
    height: 38.1966011250105%;
    width: 100%;
    /* border-radius: 50% 0 0 0; */
  }

  &-c8 {
    background-color: red;
  }

  &-c1 {
    background-color: orange;
  }

  &-c2 {
    background-color: yellow;
  }

  &-c3 {
    background-color: yellowgreen;
  }

  &-c4 {
    background-color: green;
  }

  &-c5 {
    background-color: blue;
  }

  &-c6 {
    background-color: indigo;
  }

  &-c7 {
    background-color: violet;
  }
}

// Sudoku
.sudoku {
  .options-btn {
    width: 100%;
    margin: 0.25rem 0;
    border-radius: 5px;
  }

  .sudoku-table {
    border: solid $sudoku-border-outer black;
    border-collapse: collapse;
    font-size: $sudoku-cell-font;

    width: $sudoku-table-width;
    /* height: min(70vw, 65vh); */
    table-layout: fixed;
    margin: auto;
    // max-width: $max-width/10;
    // max-height: $max-width/10;
  }

  .sudoku-table-row {
    height: $sudoku-cell-height;
  }

  /* td {
    text-align: center;
  } */

  .sudoku-dark {
    background-color: grey;
  }

  .sudoku-light {
    background-color: white;
  }

  .sudoku-cell {
    border: solid $sudoku-border-cell black;
    /* padding: 0; */
    color: #000;

    &:hover {
      cursor: pointer;
    }
  }

  .sudoku-right {
    border-right: solid $sudoku-border-box black;
  }

  .sudoku-bottom {
    border-bottom: solid $sudoku-border-box black;
  }

  .sudoku-pencil {
    width: 100%;
    height: 100%;
    /* padding: 0; */
    /* margin: 1px; */
    /* border-collapse: collapse; */
    font-weight: bolder;
    /* font-size: 10px; */
    font-size: $pencil-font-size;
    /* padding: 5%; */
  }

  /* .sudoku-pencil tr {
    height: 33.3%;
    padding: 0;
  } */

  .sudoku-pencil-hide {
    color: transparent;
  }

  // -----------------------

  .sudoku-crosshairs {
    background: lighten($light-color, 15%);
  }

  .sudoku-same-number {
    font-weight: bold;
    background: lightgrey;
  }

  .sudoku-initial-cell {
    color: blue;

    &.sudoku-error {
      color: purple;
      background: lightcoral;

      &.sudoku-cell-selected {
        color: purple;
        background: $primary-color;
      }
    }

    &.sudoku-cell-selected {
      color: blue;
      background: $primary-color;
    }
  }

  .sudoku-error {
    color: #000;
    background: lightcoral;

    &.sudoku-cell-selected {
      color: red;
      background: $primary-color;
    }
  }

  .sudoku-cell-selected {
    color: #000;
    background: $primary-color;
  }

  // -----------------------

  // .sudoku-error-initial-input {
  //   color: purple;
  //   background-color: lightcoral;

  //   &.sudoku-cell-selected-initial-input {
  //     background-color: $primary-color;
  //     color: purple;
  //   }
  // }

  // .sudoku-cell-selected {
  //   background-color: $primary-color;
  //   color: #000;
  // }

  // .sudoku-cell-selected-initial-input {
  //   background-color: $primary-color;
  //   color: blue;
  // }

  .bottom-number-table {
    border-collapse: collapse;
    /* font-size: 20px; */
    width: 100%;
    /* height: min(70vw, 65vh); */
    table-layout: fixed;
    margin: auto;
  }

  .bottom-number-container {
    padding: 1px;
  }

  .bottom-number-div {
    margin: auto;
    width: $sudoku-table-width;
  }

  .bottom-number {
    border: solid 1px;
    border-radius: 5px;
    /* display: inline-block; */
    /* width: 8%; */
  }

  .bottom-number-selected {
    background-color: $dark-color;
    color: $white-color;
  }

  :hover.bottom-number {
    background-color: $dark-color;
    color: $white-color;
  }

  .pencil-cell {
    padding: 0;
  }

  .col-light {
    background-color: #fff;
  }

  .col-dark {
    background-color: grey;
  }

  /* Dyamic Sudoku Cell Styles */

  .sudoku-normal-cell {
    color: black;
  }

  .options-line-container {
    position: block;
    position: relative;
    //   display: block;
    //   //   padding: 0 10%;
  }

  .options-line {
    margin: 0.25rem 0;
    border: 1px solid $dark-color;
    border-bottom: none;
  }

  .options-column .sudoku-column .gameplay-column {
    text-align: center;
  }

  .multi-btn-container {
    display: flex;

    .multi-btn {
      display: inline;
      float: left;
      // text-align: center;
      padding-left: 0;
      padding-right: 0;
    }

    .multi-btn:not(:last-child) {
      border-right: none;
    }

    .multi-btn:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .multi-btn:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .multi-btn:not(:last-child):not(:first-child) {
      border-radius: 0;
    }
  }

  // .triple-btn-container {
  //   .triple-btn {
  //     display: inline;
  //     float: left;
  //     width: 33%;
  //   }

  //   .triple-btn:not(:last-child) {
  //     border-right: none;
  //   }

  //   .triple-btn:first-child {
  //     border-top-right-radius: 0;
  //     border-bottom-right-radius: 0;
  //   }

  //   .triple-btn:last-child {
  //     border-top-left-radius: 0;
  //     border-bottom-left-radius: 0;
  //   }

  //   .triple-btn:not(:last-child):not(:first-child) {
  //     border-radius: 0;
  //   }
  // }
}

// CSS Jeff
.cssjeff {
  .art-container {
    height: calc(min(100vh, 80vw));
    width: calc(min(100vh, 80vw));
    max-width: $max-width;
    max-height: $max-width;
    padding: 16px;
    margin: 0 auto;
  }

  .skin {
    background-color: #ffcd94;
  }

  .hair {
    background-color: brown;
  }

  .head {
    height: 96%;
    width: 96%;
    margin: 2%;
    border-radius: 50%;
  }

  .box {
    width: 100%;
  }

  .hair-box {
    height: 25%;
    /*   background-color: red; */
  }

  .head-hair-padding {
    float: left;
    height: 100%;
    width: 10%;
  }

  .head-hair {
    border-radius: 25%;
    float: left;
    height: 100%;
    width: 80%;
  }

  .forehead-box {
    height: 5%;
    /*   background-color: red; */
  }

  .eyebrows-box {
    height: 5%;
  }

  .eyebrow-padding {
    float: left;
    height: 100%;
    width: 15%;
  }

  .eyebrow {
    float: left;
    height: 80%;
    width: 30%;
  }

  .unibrow {
    float: left;
    height: 100%;
    width: 10%;
  }

  .eyes-box {
    height: 12.5%;
    /*   background-color: orange; */
  }

  .eye {
    background-color: white;
    border-radius: 50%;
    height: 100%;
    position: relative;
    width: 30%;
  }

  .eye-left {
    float: left;
    left: 15%;
  }

  .eye-right {
    float: right;
    right: 15%;
  }

  .pupil {
    background-color: black;
    border-radius: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    width: 20%;
  }

  .pupil-left {
    left: 40%;
  }

  .pupil-right {
    left: 40%;
  }

  .nose-box {
    height: 12.5%;
    /*   background-color: yellow; */
  }

  .sub-nose-box {
    height: 90%;
    width: 100%;
  }

  .nose-pad {
    height: 100%;
    width: 40%;
    float: left;
  }

  .nose-parent {
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    float: left;
    height: 100%;
    width: 20%;
  }

  .nose-cover {
    float: left;
    height: 110%;
    left: 50%;
    position: relative;
    bottom: 5%;
    width: 55%;
  }

  .mouth-box {
    height: 30%;
  }

  .mouth-pad {
    height: 100%;
    width: 25%;
    float: left;
  }

  .mouth-parent {
    background-color: red;
    border-radius: 50%;
    float: left;
    height: 100%;
    width: 50%;
  }

  .mouth-cover {
    height: 50%;
    width: 100%;
  }

  .chin-box {
    height: 10%;
    /*   background-color: blue; */
  }
}

// Keep this at the bottom
@import 'mobile';
@import 'large';
